{% extends "base.njk" %}

{% block header %}
    <header style=" position: relative" class="header-image ken-burn-center light" data-parallax="true" data-natural-height="600" data-natural-width="1920" data-bleed="0" data-image-src="/media/{% if image %}{{image}}{% else %}lighthouse-background-06.jpg{% endif %}" data-offset="0">
        <div class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #17452666;"></div>
        <div class="container" style="margin-top: 0px;">
            <h1>{{headline}}</h1>
            <h2>{{date | dateFilter}}</h2>
        </span>
    </h2>
</div>
</header>
{% endblock %}

{% block content %}

<section class="section-base section-color">
<div class="container">
  <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        {{ content | markdownFilter | safe }}
      </div>
      <div class="col-lg-2"></div>
  </div>
</section>
{% endblock %}