.h-10 {
  height: 10px;
}

.h-70 {
  height: 70px !important;
}

.h-100 {
  height: 100px !important;
}

.p-20 {
  padding: 30px;
}

.bg-shade {
  background-color: #f1f5f7 !important;
}

.support-box {
  background-color: #eff5ef;
    padding: 10px 15px;
    border-radius: 4px;
}

.bg-green {
  background-color: #1e5631;
}

.bg-white {
  background-color: #fff;
}

.map {
  width: 100%;
  height: 450px;
}

.custom-slider {
  height: 450px;
}

footer.footer-parallax.light {
  background-color: hsla(161, 70%, 12%, 1);
}

.mb-60 {
  margin-bottom: 60px;
}

footer.footer-parallax.light a {
  color: #ddfdfd;
}

footer.footer-parallax.light a,
footer.footer-parallax.light a:hover,
footer.footer-parallax.light a:focus,
footer.footer-parallax.light a:active {
  color: #ffffff;
}

footer.footer-parallax.light li::before {
  background-color: white;
}

nav.menu-classic.menu-fixed.menu-transparent.menu-one-page.align-right.light {
  background: #fff;
}

.justify {
  text-align: justify;
}