---
title: '404 - not found'
permalink: 404.html
eleventyExcludeFromCollections: true
---

{% extends "base.njk" %}

{% block content %}
  <section class="section-base">
    <div class="container">
      <hr class="space" />
      <div class="row">
        <div class="col">
          <h1>404 – not found :(</h1>
          <p>We’re sorry, but that content can’t be found. Please go
            <a href="/">back to home</a>.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}