---
title: '404 - not found'
permalink: 404.html
eleventyExcludeFromCollections: true
---

{% extends "base.njk" %}

{% block content %}
  <article class="section-base section-color">
    <div class="container">
      <div class="row">
        <hr class="space" />
        <h1>{{title}}</h1>
        <p>We’re sorry, but that content can’t be found. Please go
          <a href="/">back to home</a>.
        </p>
      </div>
    </div>
  </article>
{% endblock %}