{% extends "base.njk" %}

{% block header %}
  {% set header = about %}
  {% include "partials/banner.njk" %}
{% endblock %}

{% block content %}

  <section class="section-base section-color">
    <div class="container">
      <div class="row row-fit-lg">
        <div class="col-lg-3">
          <p>
            {{about.row[0].column1}}

          </p>
        </div>
        <div class="col-lg-3">
          <p>
            {{about.row[0].column1}}
          </p>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
          <img class="margin-23 margin-md-23" src="/media/{{about.row[0].image}}"/>
        </div>
      </div>
    </div>
  </section>
  <section class="section-base">
    <div class="container">
      <div class="row">
        <div class="caption">
          <h2>Background</h2>
        </div>
        {{about.background | markdownFilter | safe}}
        <hr class="space"/>
      </div>
    </div>
  </section>
  <section class="section-base section-color align-center">
    <div class="container">
      <h2>{{projectCategories.title}}.</h2>
      <hr class="space"/>
      <div class="grid-list" data-columns="2" data-columns-md="2" data-columns-xs="1" data-anima="fade-bottom" data-timeline="asc" data-time="1000" data-timeline-time="300">
        <div class="grid-box">
          {% for item in projectCategories.categories %}
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top-icon boxed align-center">
                <div class="caption">
                  <h2>{{item.category}}</h2>
                  <p>
                    {{item.description}}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% include "partials/stakeholders.njk" %}}
{% endblock %}