{% extends "base.njk" %}

{% block content %}
  <section class="section-base">
    <div class="container">
      <hr class="space-sm"/>
      <hr class="space"/>
      <div class="row">
        {% include "partials/faq.njk" %}
        <div class="col-lg-4">
          <div class="fixed-area support-box" data-offset="80">
            <h2>{{faqs.contactHeadline}}</h2>
            <p>
              {{contact.headline}}
            </p>
            <a href="/contact" class="btn-text">Contact</a>
            <hr class="space-sm">
            <ul class="text-list text-list-bold">
              {% for item in contact.contactInfo %}
                <li>
                  <b>{{item.type}}</b>
                  <p>{{item.value}}</p>
                </li>
              {% endfor %}
            </ul>
            <br>
            <div class="icon-links icon-social social-colors">
              <a href="https://www.facebook.com/lighthouse_gov" target="blank" class="facebook">
                <i class="icon-facebook"></i>
              </a>
              <a href="https://www.twitter.com/lighthouse_gov" target="blank" class="twitter">
                <i class="icon-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/lighthouse_gov" target="blank" class="linkedin">
                <i class="icon-linkedin"></i>
              </a>
              <a href="https://www.instagram.com/lighthouse_gov" target="blank" class="instagram">
                <i class="icon-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}