{% extends "base.njk" %}

{% set faqs = collections.faqs %}

{% block content %}
  <section class="section-base">
    <div class="container">
      <hr class="space-sm"/>
      <hr class="space"/>
      <div class="row">
        <div class="col-lg-8">
          <h3>General questions</h3>
          <hr class="space-sm">
          <ul class="accordion-list">
            <li>
              <a href="#">What is Project Lighthouse?</a>
              <div class="content">
                <p>
                Project Lighthouse is a data driven artificial intelligence engine that provides the Federal Ministry of Finance (FMF) with an intelligence and profiling platform to aid in policy formulation, implementation and assessing the impacts of those policies which would support its MDAs to develop a more efficient revenue assessment methodology by ensuring that major revenue loopholes are plugged, and revenue collection is dramatically improved
              </p>
              </div>
            </li>
            <li>
              <a href="#">What Are the Objectives of Project Lighthouse?</a>
              <div class="content">
                <p>
                The objective of Lighthouse is the aggregation of data from key data sources to provide the Honorable Minister of Finance, the ministry and all revenue agencies under the ministry with the capability to generate useful and insightful information for a more efficient and intelligent data-driven revenue mobilization model, thus ensuring major loopholes are blocked and revenues dramatically increased.
              </p>
              </div>
            </li>
            <li>
              <a href="#">
              What are the benefits of Project Lighthouse System?</a>
              <div class="content">
                <p>
                From the data provided, the system will be able to analyze and provide an analytic view of revenue sources across the country and optimize the collection of those revenues. Provide revenue performance support to agencies of the ministry as well as other arms of governments at federal and state levels. Improve the compliance of Nigerian tax payers through a validation and verification function built into the system. Detect and highlight anomalies in revenue forecast and performance. Help the states to proactively identify prospective revenue sources and supporting the implementation of revenue optimization programmes.
              </p>
              </div>
            </li>
            <li>
              <a href="#">Why do we need Project Lighthouse?</a>
              <div class="content">
                <p>
                The overall revenue performance for 2018 is only 53 percent of the target in the 2018 Budget of the total appropriation of N9.12 trillion, N4.59 trillion had been released. This shows a significant shortfall in revenue realization and collection. The system would provide insights to aid stakeholders in policy formulation and optimize revenue generation.
              </p>
              </div>
            </li>
            <li>
              <a href="#">Where is the Data Coming From?</a>
              <div class="content">
                <p>
                Available data sources include collection of data from revenue agencies under the ministry as well as data generating projects under the ministry. Third party data hosts will also be part of the platform
              </p>
              </div>
            </li>
            <li>
              <a href="#">Who are the Critical Stakeholders?
            </a>
              <div class="content">
                <p>
                The Project depends on the active involvement of various stakeholders throughout the project who would be required to supply data and take advantage of the Lighthouse system. They include: FMF, FIRS, JTB/ SIRS, CBN, NCS, CAC, NIBSS, NBS, DPR, ICPC, BOF, RMAFC, EFCC, SEC, AGIS, NNPC.
              </p>
              </div>
            </li>
            <li>
              <a href="#">Is there any law supporting Project Lighthouse implementation?</a>
              <div class="content">
                <p>
                Yes, the mandate of the Federal Ministry of Finance grants them the power to formulate policies and fiscal matters; prepare estimate of revenue and expenditures; formulate policies in collaboration with CBN to curb inflationary trends in the economy; prepare and publish quarterly and annual reports on the economy; and monitor financial resources for development purposes.
              </p>
              </div>
            </li>
            <li>
              <a href="#">Who can verify their debt status?</a>
              <div class="content">
                <p>
                Companies and Businesses registered with the CAC.
              </p>
              </div>
            </li>
            <li>
              <a href="#">Why do i need to verify my debt status?</a>
              <div class="content">
                <p>
                The system is designed to flag all debtors and automatically stop the payment of debtors through the GIFMIS platform and other Government Payment Channels. Thus, every company/MDA must verify their debt status to avoid any such penalty or sanction that may be imposed on them.
              </p>
              </div>
            </li>
            <li>
              <a href="#">What are the penalties for unpaid debt?</a>
              <div class="content">
                <p>
                All payment which is to be made to the debtor, either privately-owned companies or MDA will be stopped on the GIFMIS platform and other Government Payment channels until the debt is cleared, either by paying part or making full payment.
              </p>
              </div>
            </li>
            <li>
              <a href="#">Where is the debt profile generated from?</a>
              <div class="content">
                <p>
                All debt profile captured on the system is provided by the MDA’s and FGOEs collaborating with the Federal Ministry of Finance, Budget &amp; National Planning (FMFBNP) to help the government recover their debt.
              </p>
              </div>
            </li>
            <li>
              <a href="#">Where do i verify my debt?</a>
              <div class="content">
                <p>
                A company’s debt profile can be verified after signing up the organization through the lighthouse website. Upon successful sign up, your login credentials (Usersname and Password) is sent to the unique email address provided. The Usersname and Password would be used to Login to the Verification Database (Lighthouse engine). Upon verification, your company is either classified as ‘’Indebted’’ or ‘’ Not Available’’

<i>N.B: The RC and BN numbers are critical parameters for signing up</i>
                </p>
              </div>
            </li>
            <li>
              <a href="#">If i am a debtor how do i check the value of my debt?</a>
              <div class="content">
                <p>
                The system allows a user to generate a report of their debt status from the system which would show the breakdown of the total amount owed and the MDA’s owed. This report can be generated by clicking on the “Generate Report” from the company or MDA’s dashboard.
              </p>
              </div>
            </li>
            <li>
              <a href="#">Who can connect to Lighthouse?</a>
              <div class="content">
                <p>
                Any of the identified stakeholders and MDAs with verifiable need.
              </p>
              </div>
            </li>
            <li>
              <a href="#">How does Project Lighthouse add value to SRGI?</a>
              <div class="content">
                <p>
                Project Lighthouse was listed as one of the portfolio projects under the Federal Ministry of Finance flagship Strategic Revenue Growth Initiative (SRGI). The SRGI was built on three core thematic areas including; Achieve sustainability in revenue generation, Identify new and enhance the enforcement of existing revenue streams, Achieve cohesion in the revenue ecosystem (people and tools) and the objectives of project lighthouse are centered around Policy formulation targeted at boosting the revenue drive of the nation’s economy.
              </p>
              </div>
            </li>
            <li>
              <a href="#">How does Project Lighthouse impact the Nigerian general public?</a>
              <div class="content">
                <p>
                It gives the Ministry of finance insights and information to guide policy formulation, implementation and impact assessment to improve the economy.
              </p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-4">
          <div class="fixed-area support-box" data-offset="80">
            <h2>Request support.</h2>
            <p>
            Our team of seasoned professionals want to assist you.
          </p>
            <a href="/contact" class="btn-text">Contact</a>
            <hr class="space-sm">
            <ul class="text-list text-list-bold">
              <li>
                <b>Address</b>
                <p>14 Vistula Close, off Panama crescent, Maitama, Abuja.</p>
              </li>
              <li>
                <b>Phone</b>
                <p>080CALLLH</p>
              </li>
              <li>
                <b>Email</b>
                <p>info@projectlighthouse.gov.ng</p>
              </li>
            </ul>
            <br>
            <div class="icon-links icon-social social-colors">
              <a href="https://www.facebook.com/lighthouse_gov" target="blank" class="facebook">
                <i class="icon-facebook"></i>
              </a>
              <a href="https://www.twitter.com/lighthouse_gov" target="blank" class="twitter">
                <i class="icon-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/lighthouse_gov" target="blank" class="linkedin">
                <i class="icon-linkedin"></i>
              </a>
              <a href="https://www.instagram.com/lighthouse_gov" target="blank" class="instagram">
                <i class="icon-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}