---
permalink: /
---
{% extends "base.njk" %}

{% block header %}
  {% set header = home %}
  {% set action = { text: 'Get Started', url: '/signup' } %}
  {% include "partials/banner.njk" %}
{% endblock %}

{% block content %}
<section id="features" class="section-base section-color">
  <div class="container">
    <h2 class="align-center">All the data you need, in one place.</h2>
    <p class="align-center width-650">
      Lighthouse is a robust engine for revenue generation, profiling and optimization purposes
    </p>
      <hr class="space"/>
      <div class="grid-list" data-columns="3" data-columns-md="2" data-columns-xs="1">
        <div class="grid-box">

          <div class="grid-item">
            <div class="cnt-box cnt-box-top-icon boxed">
              <i class="im-laptop-3"></i>
              <div class="caption">
                <h2>Data: The new oil</h2>

                <p>
                Data can unlock ways of helping Nigeria plan for and respond to some of the biggest challenges facing the nation in areas such as health, social, security and indigenous affairs
              </p>
              </div>
            </div>
          </div>

          <div class="grid-item">
            <div class="cnt-box cnt-box-top-icon boxed">
              <i class="im-bar-chart4"></i>
              <div class="caption">
                <h2>Profiling Engine</h2>
                <p>
                A database engine for revenue generation, profiling & optimization purposes. It highlights anomalies in revenue forecast, performance & provides relevant information about revenue generating entities.
              </p>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div class="cnt-box cnt-box-top-icon boxed">
              <i class="im-shuffle-4"></i>
              <div class="caption">
                <h2>Decision making</h2>
                <p>
                An Artificial Intelligence engine that provides the FMF and Revenue stakeholders (including Tax authorities) with empirical data to make informed decisions.
              </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="section-block section-block-full section-block-right">
    <div class="block-media">
      <div class="image" data-parallax="scroll" data-bleed="0" data-image-src="media/lighthouse-datacenter.jpg"></div>
    </div>
    <div class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #17452666;"></div>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Command Centre/Service Provision Unit.</h2>
          <p>
          With this initiative, the Federal Ministry of Finance (FMF) provides rapid response to stakeholders thereby dramatically improving revenue collection.
        </p>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </section>
  <section id="overview" class="section-base section-top-overflow">
    <div class="container">
      <br>
      <hr class="space-lg"/>
      <div class="row">
        <div class="col-lg-6 order-md-first">
          <h2>Project Lighthouse is a data-driven Artificial Intelligence engine.</h2>
          <p>
          It provides the Federal Ministry of Finance (FMF) with an intelligence and profiling platform to support its departments and agencies to develop a more efficient revenue assessment methodology by ensuring that major revenue loopholes are plugged, and revenue collection is dramatically improved.
        </p>
          <hr class="space-sm visible-md"/>
        </div>
        <div class="col-lg-6" data-anima="fade-right" data-time="1000">
          <img class="margin-11" src="media/lighthouse-bg.png" alt=""/>
        </div>
      </div>
      <br>
    </div>
  </section>
  <section class="section-image light bg-green">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-8">
          <h2>Verify your debt status with ease .</h2>
          <p>
                            Are you a registered company, contractor, consultant or service provider with the Corporate Affairs Commission(CAC)? Verify your debt status in no time.
                        </p>
        </div>
        <div class="col-lg-4 col-md-4 align-right align-left-sm">
          <a href="/signup" class="btn btn-circle btn-sm">Verify Now</a>
        </div>
      </div>
    </div>
  </section>
  <section id="news" class="section-base section-color">
    <div class="container">
      <h2 class="align-center">Latest News
    </h2>
      <p class="width-650 align-center">
      Here are the latest news and happenings within the Ministry, her Departments and Agencies.
    </p>
      <hr class="space"/>

      <div class="row">
        <div class="col-lg-4">
          <div class="grid-list" data-columns="1">
            <div class="grid-box">
              <div class="grid-item">
                <div class="cnt-box cnt-box-blog-top boxed">
                  <a href="#" class="img-box">
                    <div class="blog-date">
                      <span>23</span>
                      <span>JAN 2018</span>
                    </div>
                    <img src="media/images/lighthouse-3.png" alt=""/>
                  </a>
                  <div class="p-20">
                    <h2>
                    Finance Minister sets up Project Lighthouse to boost revenue.
                  </h2>
                    <p>
                    The Minister of Finance, Mrs Zainab Ahmed has inaugurated the Steering Committee for “Project Lighthouse” ...
                  </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="grid-list" data-columns="1">
            <div class="grid-box">
              <div class="grid-item">
                <div class="cnt-box cnt-box-blog-side boxed">
                  <a href="#" class="img-box">
                    <div class="blog-date">
                      <span>01</span>
                      <span>JAN 2018</span>
                    </div>
                    <img src="media/images/lighthouse-4.png" alt=""/>
                  </a>
                  <div class="caption">
                    <h2>Nigerian govt identifies 130,000 individuals, firms likely culpable in tax underpayment</h2>
                    <p>
                    The data mining efforts of the federal government, PROJECT LIGHTHOUSE through the Federal Ministry of ...
                  </p>
                  </div>
                </div>
              </div>
              <div class="grid-item">
                <div class="cnt-box cnt-box-blog-side boxed">
                  <a href="#" class="img-box">
                    <div class="blog-date">
                      <span>12</span>
                      <span>JAN 2018</span>
                    </div>
                    <img src="media/lighthouse-news-01.jpg" alt=""/>
                  </a>
                  <div class="caption">
                    <h2>
                    SEC Backs FG’s Project ‘Light House’ to Boost Revenue
                  </h2>
                    <p>
                    The Securities and Exchange Commission (SEC) has pledged its cooperation with the Ministry of Finance on Project Light House ...
                  </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-base">
    <div class="container">
      <h2 class="align-center">Key Stakeholders</h2>
      <br>
      <ul class="slider" data-options="type:carousel,arrows:false,nav:false,perView:5,perViewMd:3,perViewSm:2,gap:100,autoplay:3000">
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-1.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-2.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-3.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-4.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-5.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-6.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-7.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-8.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-9.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-10.png" alt=""/>
        </li>
        <li>
          <img class="h-70" src="media/images/stakeholders/stakeholders-11.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-12.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-13.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-14.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-15.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-16.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-17.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-18.png" alt=""/>
        </li>
        <li>
          <img class="h-100" src="media/images/stakeholders/stakeholders-19.png" alt=""/>
        </li>
      </ul>
      <br/>
    </div>
  </section>

  <section class="section-base align-center bg-shade">
    <div class="container">
      <h2>Subscribe now.</h2>
      <div class="width-650">
        <p>Stay updated with the latest reports on project lighthouse</p>
        <hr class="space-sm"/>
        <form action="themekit/scripts/contact-form/contact-form.php" class="form-box form-ajax form-inline align-center" method="post" data-email="example@domain.com">
          <div class="row">
            <div class="col-lg-4">
              <input id="name" name="name" placeholder="Name" type="text" class="input-text" required="required">
            </div>
            <div class="col-lg-4">
              <input id="email" name="email" placeholder="Email" type="email" class="input-text" required="required">
            </div>
            <div class="col-lg-4">
              <button class="btn btn-sm" type="submit">Subscribe</button>
            </div>
          </div>
          <div class="form-checkbox">
            <input type="checkbox" id="check" name="check" value="check" required="required">
            <label for="check">You accept the terms of service and the privacy policy</label>
          </div>
          <div class="success-box">
            <div class="alert alert-success">Congratulations. Your message has been sent successfully
          </div>
          </div>
          <div class="error-box">
            <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}