{% extends "base.njk" %}

{% block header %}
  {% set header = news %}
  {% include "partials/banner.njk" %}
{% endblock %}

{% block content %}

  {% set newsFeed = collections.newsFeed %}
  {% set featuredPosts = collections.featuredPosts %}


  <section class="section-base section-color">
    <div class="container">
      <div class="row">
        {% include "partials/newsFeed.njk" %}

        <div class="col-lg-4 widget">
          <hr class="space-sm"/>
          <h3>Latest posts</h3>
          <hr class="space-sm"/>
          <div class="menu-inner menu-inner-vertical menu-inner-image">
            <ul>
            {% for post in featuredPosts %}
              <li>
                <a href="{{post.url}}">
                  <img src="/media/{{post.data.image}}" alt=""/>
                  <span>{{ post.date | dateFilter }}</span>
                  {{post.data.headline}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <hr class="space-sm"/>
          <h3>Tags</h3>
          <hr class="space-sm"/>
          <div class="list-tags">
            {% for tag in collections.tagList %}
              <a href="/tags/{{tag}}">{{tag}}</a>
            {% endfor %}
            <hr class="space-sm"/>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}