{% extends "base.njk" %}

{% block header %}
  {% set bannerTitle = 'News Update' %}
  {% set bannerText = 'The latest happenings on the project' %}
  {% set bannerBackground = "/media/lighthouse-background-06.jpg" %}
  {% include "partials/banner.njk" %}
{% endblock %}

{% block content %}

{% set newsFeed= collections.newsFeed %}


  <section class="section-base section-color">
    <div class="container">
      <div class="row">
        {% include "partials/newsFeed.njk" %}

        <div class="col-lg-4 widget">
          <hr class="space visible-md"/>
          <hr class="space-sm"/>
          <h3>Categories</h3>
          <hr class="space-xs"/>
          <div class="menu-inner menu-inner-vertical">
            <ul>
              <li>
                <a href="#">
                  Debt Recovery
                </a>
              </li>
              <li>
                <a href="#">
                  Revenue performance
                </a>
              </li>

            </ul>
          </div>
          <hr class="space-sm"/>
          <h3>Latest posts</h3>
          <hr class="space-sm"/>
          <div class="menu-inner menu-inner-vertical menu-inner-image">
            <ul>
              <li>
                <a href="#">
                  <img src="/media/minister-of-finance.jpg" alt=""/>
                  <span>February 12, 2020</span>
                  2nd Project Lighthouse Steering committee meeting
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/media/lighthouse-image-02.jpg" alt=""/>
                  <span>February 25, 2020</span>
                  Six best practices for using artificial intelligence data
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/media/lighthouse-image-04.jpg" alt=""/>
                  <span>April 19, 2020</span>
                  Machine learning and AI are raising concerns
                </a>
              </li>
            </ul>
          </div>
          <hr class="space-sm"/>
          <h3>Tags</h3>
          <hr class="space-sm"/>
          <div class="list-tags">
            <a>Debt Recovery</a>
            <a>Revenue Performance</a>
            <a>Economy</a>
            <a>Data</a>
          </div>
          <hr class="space-sm"/>
        </div>
      </div>
    </div>
  </section>
{% endblock %}