{% extends "base.njk" %}

{% block header %}
  <header style="position: relative" class="header-image ken-burn-center light" data-parallax="true" data-natural-height="600" data-natural-width="1920" data-bleed="0" data-image-src="/media/lighthouse-background-04.jpg" data-offset="0">
    <div class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #17452666;"></div>
    <div class="container" style="margin-top: 0px;">
      <h1>Terms and Conditions</h1>
    </div>
  </header>
{% endblock %}

{% block content %}
  <main>
    <section class="section-base" style="border-bottom: 1px solid #d8d8d8;">
      <div class="container">
        <p class="justify">
This website <a>https://projectlighthouse.gov.ng</a> is operated by the Federal Ministry of Finance, Budget &amp; National Planning.
On this page and throughout the site, these terms refer to the Federal Ministry of Finance, Budget &amp; National Planning: • “we”, “us”, “our”, and “FMFBNP”.</p>

          <p class="justify">
The Federal Ministry of Finance, Budget &amp; National Planning (FMFBNP) operates and offers the use of this website, including all its contents, to its users, subject to the terms, conditions and policies contained in this page. This page outlines and explains the terms of use governing this website and its users. If you are using this website, then you have agreed to be bound by these terms, including our Privacy Policy and Cookie Policy.
</p>

          <p class="justify">
Any update to the policies of the Federal Ministry of Finance, Budget and National Planning would be reflected on this page, hence it is the responsibility of users to remain acquainted with future updates.
</p>

          <h3>ABOUT Lighthouse</h3>
          <p class="justify">
Lighthouse is a robust engine for revenue generation, profiling and optimization purposes
The objective of Lighthouse is to aggregate data from key data sources &amp; provide the intelligence &amp; profiling engine for efficient &amp; intelligent data-driven processes. It is the “single source of truth” for revenue &amp; tax-related intelligence.
This intelligence would in turn support the Ministry, its agencies, revenue agencies, tax authorities and other stakeholders to be better positioned to address the revenue challenges faced by the country.
The Lighthouse System holds the copyright <a>https://projectlighthouse.gov.ng</a> and the contents therein unless otherwise expressly stated. Copyright to contents includes all materials published on this website - except through links - regardless of whether such material is or may subsequently be cancelled or changed by FMFBNP or its supervising organization.</p>

          <h3>USE OF INFORMATION</h3>
          <p class="justify">
By accessing information presented via this website, every user releases information to the full extent permitted by law from any and all claims relating to the subsequent usage of any material or information made available through the website.</p>

          <p class="justify">
The FMFBNP shall not be liable for any incidental or consequential damage resulting from the use of the information provided through the website. In particular and without limit to the generality of the above, information provided in the publications of lighthouse, provided through this website, is considered to be accurate at the time of publication. However, changes in circumstances after time of publication may affect the accuracy of the information. Therefore, you should confirm the website's information before acting upon its content; especially in the course of business transactions.</p>
          <p class="justify">
Lighthouse shall not be held responsible or liable for any consequence resulting from users acting upon the contents of this or any other website that is linked to <a>https://projectlighthouse.gov.ng</a> COPYRIGHT
Trademarks, logos and service marks displayed on this website are registered and unregistered trademarks for the FMFBNP. Nothing on this website shall be construed as granting, expressly or by implication, any license or right to use any trademark, logo or service mark displayed on the website without the owner's prior written permission.
However, information made available on this website is considered public information and may be distributed or copied freely unless identified as being subject to copyright protection. In return, we request only that the FMFBNP be cited as the source of any information, photos, and images copied from this website. It is however, not permitted to amend or distort the contents of the materials.
We strongly recommend that data be acquired directly from this website and not through other sources that may change the information in some way or exclude material crucial to the understanding of that information.</p>

          <p class="justify">
While we make every effort to provide accurate and complete information, some information may change between website updates.</p>

          <h3>MODIFICATION TO THESE TERMS OF USE</h3>

          <p class="justify">
The FMFBNP reserves the right, at its sole discretion, to change, modify, add or remove any portion of these Terms of Use, in whole or in part, at any time, by posting revised terms on the website.
It is your responsibility to check periodically for any changes we make to the Terms of Use. Your continued use of the website after any changes to the Terms of Use or other policies means you accept the changes.</p>

          <p class="justify">
In the event we make material changes to the Terms of Use, notice of the changes will be posted on the homepage of this website and the revised terms will take effect thirty days after their publication on the website.</p>

          <h3>CONDUCT ON THE SITE</h3>
          <p class="justify">
Some features that may be available on this website require registration. By registering at and in consideration of your use of the website you agree to provide true, accurate, current and complete information about yourself.
Some features on this website require use of personalized login details. You are responsible for protecting your login details and Token. You agree that you will be responsible for any and all statements made, and acts or omissions that occur, through the use of your login details. If you have any reason to believe or become aware of any loss, theft or unauthorized use of your login, please notify FMFBNP immediately. The FMFBNP may assume that any communication we receive under your personal login details have been made by you unless we receive notice otherwise.</p>

          <h3>LINKS</h3>
          <p class="justify">
This website may contain links to other Websites, some of which are operated by the FMFBNP, its affiliates, or by third parties. These links are provided as a convenience to you and as an additional avenue of access to the information contained therein. We have not necessarily reviewed all the information on those other websites and as such we are not responsible for the content of those websites or any products or services that may be offered through them. Inclusion of links to other websites should not be viewed as an endorsement of the content of the linked websites. Different terms and conditions may apply to your use of any linked websites. The FMFBNP is not responsible for any losses, damages or other liabilities incurred as a result of your use of any linked websites.<p class="justify">

              <h3>DISCLAIMERS</h3>

              <p class="justify">Your use of this website is at your sole risk. The website is provided on an "as is" and "as available" basis. We reserve the right to fully restrict or terminate your access to the website or any feature or part thereof at any time. The FMFBNP expressly disclaims all warranties of any kind, whether express or implied, including but not limited to the implied warranties that materials on the website are non-infringing; that access to the website will be uninterrupted or error-free; that the website will be secure; that the website or the server that makes the website available will be virus-free; or that information on the website will be complete, accurate or timely.</p>

              <p class="justify">If you download any materials from this website, you do so at your own discretion and risk. You will be solely responsible for any damage to your computer system or loss of data that results from the download of any such materials. No advice or information, whether oral or written, obtained by you from FMFBNP or through or from the website shall create any warranty of any kind. We do not make any warranties or representations regarding the use of the materials on this website in terms of their completeness, correctness, accuracy, adequacy, usefulness, timeliness, reliability or otherwise.</p>

              <h3>LIMITATION OF LIABILITY</h3>

              <p class="justify">You acknowledge and agree that you assume full responsibility for your use of <a>https://projectlighthouse.gov.ng</a>. You acknowledge and agree that any information you send or receive during your use of the website may not be secure and may be intercepted by unauthorized parties. You acknowledge and agree that your use of the website is at your own risk and that the website is made available to you at no charge.<p class="justify">

                  <p class="justify">This clause applies, without limitation, to any damages or injury arising from any failure of performance, error, omission, interruption, deletion, defects, delay in operation or transmission, computer viruses, file corruption, communication-line failure, network or system outage, your loss of profits, or theft, destruction, unauthorized access to, alteration of, loss or use of any record or data, and any other tangible or intangible loss.</p>

                  <p class="justify">You specifically acknowledge and agree that FMFBNP shall not be liable for any defamatory, offensive or illegal conduct of any user of this website. Your sole and exclusive remedy for any of the above claims or any dispute with the FMFBNP is to discontinue your use of the website.</p>

                  <h3>INDEMNIFICATION</h3>

                      <p class="justify">You agree to indemnify, defend and hold harmless the FMFBNP and its affiliates and their officers, directors, and employees from any and all losses, liabilities, expenses, damages and costs, including reasonable attorneys' fees and court costs, arising or resulting from your use of the website and any violation of these Terms of Use.</p>

                      <p class="justify">If you cause a technical disruption of the website or the systems transmitting the website to you or others, you agree to be responsible for any and all losses, liabilities, expenses, damages and costs, including reasonable attorneys' fees and court costs, arising or resulting from that disruption.
FMFBNP reserves the right, at its own expense, to assume exclusive defense and control of any matter otherwise subject to indemnification by you and, in such case, you agree to cooperate with the FMFBNP in the defense of such matter.</p>

                        <h3>JURISDICTION AND APPLICABLE LAW</h3>

                        <p class="justify">The laws of the Federal Republic of Nigeria govern these Terms of Use (including the Privacy Policy and Cookie Policy), and your use of the website, and you irrevocably consent to the jurisdiction of the courts located in the Federal Capital Territory for any action arising out of or relating to these Terms of Use.</p>

                        <p class="justify">We recognize that it is possible for you to obtain access to this website from any jurisdiction in the world, but we have no practical ability to prevent such access. This website has been designed to comply with the laws of Nigeria. If any material on this website, or your use of the website, is contrary to the laws of the country where you are when you access it, this website is not intended for you, and we ask you not to use the website.
You are responsible for informing yourself of the laws of your jurisdiction and complying with them.</p>

                        <h3>ENTIRE AGREEMENT AND ADMISSIBILITY</h3>

                        <p class="justify">This Terms of Use, the Privacy Policy, and the Cookie Policy posted on this website constitute the entire agreement and understanding between you and the FMFBNP with respect to the use of this website <a>https://projectlighthouse.gov.ng</a> and supersedes all prior communications and proposals, whether oral or written, between the parties with respect to the use of this website.
A printed version of these Terms of Use shall be admissible in judicial and administrative proceedings, or any dispute resolution method agreed on by the parties based on or relating to use of this website.</p>

                        <h3>SEVERABILITY</h3>

                        <p class="justify">If any provision of this agreement is unlawful, void or unenforceable, that portion or part shall be removed from this agreement and the remaining provisions of this agreement will remain valid and enforceable.

                </p>
                      </div>
                    </section>
                  </main>
                {% endblock %}