<header style="position: relative" class="header-image ken-burn-center light" data-parallax="true" data-natural-height="600" data-natural-width="1920" data-bleed="0" data-image-src="{{'/media/' + bannerBackground}}" data-offset="0">
  <div class="overlay" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #17452666;"></div>
  <div class="container">
    <hr class="space-lg"/>
    <h1>{{bannerTitle}}</h1>
    <h2>{{bannerText}}</h2>
    {% if action %}
      <hr class="space">
      <a href="{{action.url}}" class="btn btn-circle btn-sm">{{action.text}}</a>
      <hr class="space-lg">
    {% endif %}
  </div>
</header>
