<div class="col-lg-8">
  <h3>{{faqs.faqHeadline}}</h3>
  <hr class="space-sm">
  <ul class="accordion-list">
    {% for faq in faqs.faqs %}
      <li>
        <a href="#">{{faq.question}}</a>
        <div class="content">
          <p>
            {{faq.answer}}
          </p>
        </div>
      </li>

    {% endfor %}
  </ul>
</div>