
  <i class="scroll-top-btn scroll-top show"></i>
  <footer class="footer-parallax light">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h4>Project Lighthouse</h4>
          <div class="menu-inner menu-inner-vertical">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/about">About</a>
              </li>
              <li>
                <a href="/news">News Update</a>
              </li>
              <li>
                <a href="/documents">Documents And Reports</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <h4>Help and Support</h4>
          <div class="menu-inner menu-inner-vertical">
            <ul>
              <li>
                <a href="/contact">Contact</a>
              </li>
              <li>
                <a href="/contact">Help Centre</a>
              </li>
              <li>
                <a href="/contact">Feedback</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <h4>Learn More</h4>
          <div class="menu-inner menu-inner-vertical">
            <ul>
              <li>
                <a href="/faq">FAQ</a>
              </li>
              <li>
                <a href="/terms">Privacy and Terms</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <h4>Follow us</h4>
          <div class="icon-links icon-social icon-links-grid social-colors">
            <a href="https://www.facebook.com/lighthouse_gov" target="_blank" rel="noopener nofollow" class="facebook">
              <i class="icon-facebook"></i>
            </a>
            <a href="https://www.twitter.com/lighthouse_gov" target="_blank" rel="noopener nofollow" class="twitter">
              <i class="icon-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/lighthouse_gov" target="_blank" rel="noopener nofollow" class="linkedin">
              <i class="icon-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/lighthouse_gov" target="_blank" rel="noopener nofollow" class="instagram">
              <i class="icon-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bar">
      <div class="container">

        <span>© Lighthouse 2020. All rights reserved.
        </span>
        <span><img src="/media/logos/lighthouse-logo.png"/></span>
      </div>
    </div>
  </footer>