{% if newsFeed.length %}
  {% set options = {
    year: 'numeric',
    month: 'short',
    day: 'numeric'
  } %}
  <div class="col">
    <div class="grid-list" data-columns="1">
      <div class="grid-box">
        {% for item in newsFeed %}
          <div class="grid-item">
            <div class="cnt-box cnt-box-blog-side boxed" data-href="{{item.url}}">
              <a href="{{item.url}}" class="img-box">
                <img src="{{'/media/' + item.data.thumbnail}}" alt=""/>
              </a>
              <div class="caption">
                <h2>{{ item.data.headline }}</h2>
                <span>{{item.date.toLocaleDateString()}}</span>
                <div class="icon-list"></div>
                <div class="clamp-three-lines">
                  {{ item.templateContent | markdownFilter | safe }}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="list-pagination">
      <ul class="pagination pagination-lg" data-page-items="2" data-options="scrollTop:true"></ul>
    </div>
  </div>
{% endif %}