<section class="section-base">
  <div class="container">
    <h2 class="align-center">Key Stakeholders</h2>
    <br />
    <ul class="slider" data-options="type:carousel,arrows:false,nav:false,perView:5,perViewMd:3,perViewSm:2,gap:100,autoplay:3000">
    {% for stakeholder in stakeholders %}
      <li>
        <img class="h-100" src="media/images/stakeholders/stakeholders-19.png" alt=""/>
      </li>
    {% endfor %}
    </ul>
    <br/>
  </div>
</section>